<div class="container-fluid" style="margin-top: 50px; background-color:#f5f6fa; font-family: 'Roboto Slab', serif; color: #006266;">
	<div class= "row">
		<div class="col-sm-12" style="height:600px"> 
			<h3>
				<b>
				The Provenence System Project 
				</b>

			</h3>
			<h4>
				<br><br>
				Provenance is a chronologiy of ownership of assets / products. This Model of Provenance System is implemented on Blockchain. 
				<br><br>
				Provenance System stores all the information of a product from it's creation to it's distributors in a sequential manner. The existing systems to achieve this goal use conventioanl databases which donot gurantee data security and transparency, on the other hand it's implementation on blockchain ensures imuutability and distributed data storage eleminating the risk of a central point of failure and other disadvantages that come along a central store of data.
			</h4>
		</div>
	</div>
</div>
