<div class="container-fluid" ng-controller="assetProvDetailsCtrl as assetProv" ng-init="assetProv.checkAssetProvenance()" style="padding:0px; font-family: 'Roboto Slab', serif;">

	
	<div id="section2" class="container-fluid" style="background-color:#2980b9; margin:0px;">
		<div class = "row" ng-show="!(main.isLoggedIn)">
	      <div class = "col-sm-offset-1 col-sm-5" style=" padding-top: 50px;padding-bottom: 50px;text-align: left; font-family: 'Roboto Slab', serif; color: #ecf0f1">
	        <p style="font-size: 4vw">
	        	<b>Check Asset History</b>
	        </p>
	        <p>
	        	<h2>
	        		Here you can easily check the history or provenance of your Asset!
	        	</h2>
	        </p>
	        <br>

	      </div>
	      <div class = "col-sm-offset-2 col-sm-3" style=" padding-top: 50px;padding-bottom: 50px;text-align: right; font-family: 'Roboto Slab', serif; color: #ecf0f1">
	      	<form>
	      		<div>
		      		<label>
		      			<h3>Asset Reference No.</h3>
		      		</label>
		      		<input type="text" class="form-control" ng-model="assetProv.checkProv.product_ref">
	      		</div>
	      		<br>
	      		<div>
		      		<label>
		      			<h3>Company Name</h3>
		      		</label>
		      		<input type="text" class="form-control" ng-model="assetProv.checkProv.countryName">
		      	</div>
	      	</form>
	      	<br>
	      	<button type="button" ng-click="main.checkProvButtonClick(assetProv.checkProv.product_ref, assetProv.checkProv.countryName)" style="border:none; background-color:#ecf0f1; color:#2980b9; padding:2px; border-radius: 25px 25px 25px 25px; width:100px; height:50px; font-size: 1.2em; outline:none; ">Check</button>
	      </div>  
	    </div>
	</div>
	<div class="row" style="background-color:#2980b9; margin:0px;">
		<div class="col-sm-offset-1 col-sm-5">
			<div class="row" style="" ng-repeat="owner in assetProv.ownersArray">
				<div class="col-sm-12" style="background-color: #eee; padding:10px; margin:5px; border-radius: 15px 15px 15px 15px;">
					<h2 style="text-align: center;" ng-show="owner.seqNo == '1'">Asset Creator</h2>
					<br>
					<ul type="none" style="font-size: 1.5em;">
						<li>Full Name : {{owner.fullname}}</li>
						<li>Username : {{owner.username}}</li>
						<li>Email ID : {{owner.email}}</li>
						<li ng-show="owner.seqNo != '1'">Transfer Price: {{owner.assetDet.price}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class = "col-sm-5" ng-show="assetProv.ownersArray != null" style="text-align: center;">
			<h1>Asset Details</h1>
			<div class="col-sm-8 col-sm-offset-2">
			<table style="text-align: left; font-size: 1.5em;"> 
				<tr>
					<td>Brand Name </td>
					<td> : {{assetProv.ownersArray[0].assetDet.data.brand}}</td>
				</tr>
					<td>Product Name </td>
					<td> : {{assetProv.ownersArray[0].assetDet.data.product_name}}</td>
				<tr>
					<td>Product Reference No.</td>
					<td> <span>: {{assetProv.ownersArray[0].assetDet.data.product_ref}}</span></td>
				</tr>
				<tr>
					<td>UPC_A </td>
					<td> <span>: {{assetProv.ownersArray[0].assetDet.data.upc_a}}</span></td>
				</tr>
				<tr>
					<td>Product Weight </td>
					<td> : {{assetProv.ownersArray[0].assetDet.data.weight}}</td>
				</tr>
				<tr>
					<td>Product Dimensions </td>
					<td> : {{assetProv.ownersArray[0].assetDet.data.product_dim}}</td>
				</tr>
			</table>
			</div>
		</div>
	</div>
</div>