<div class="container-fluid" style="background-color:#2c3e50;  font-family: 'Roboto Slab', serif; " ng-controller="dashboardCtrl as dashCtrl">
	<div class="row">
		<div class = "col-sm-11 col-sm-offset-1" style="margin-top: 50px;">
			<h1 style="color:#f5f6fa;">
				User Dashboard
			</h1>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-1" style="margin-top: 50px;" ng-show="dashCtrl.currentUserRole == 'user'">
			<div class="panel" style="border:0px;">
				<div class="panel-heading" style="background-color: #FFC312; color:#2c3e50;">
					<h3>
						Asset Creation
					</h3>
				</div>
				<div class="panel-body" style="background-color: #f5f6fa;">
					<div>
						<p>
							Use this to create an asset for the user 
						</p>
					</div>
					<br>
					<button class="btn" ng-click="dashCtrl.goTo('/assetCreation')" style ="background-color: #FFC312; color:#2c3e50; font-size: 1.2em; outline:none; border: none;">
							Create
					</button>
				</div>
			</div>
		</div>

		<div class = "col-sm-3" style="margin-top: 50px;" ng-show="dashCtrl.currentUserRole == 'user'">
			<div class="panel" style="border:0px;">
				<div class="panel-heading" style="background-color: #FFC312; color:#2c3e50;">
					<h3>
						View Assets
					</h3>
				</div>
				<div class="panel-body" style="background-color: #f5f6fa;">
					<div>
						<p>
							Use this to view currently owned Assets
						</p>
					</div>
					<br>
					<button class="btn" ng-click="dashCtrl.goTo('/viewAssets')" style ="background-color: #FFC312; color:#2c3e50; font-size: 1.2em; outline:none; border: none;">
							View
					</button>
				</div>
			</div>
		</div>

		<div class = "col-sm-3" style="margin-top: 50px;" ng-show="dashCtrl.currentUserRole == 'admin'">
			<div class="panel" style="border:0px;">
				<div class="panel-heading" style="background-color: #FFC312; color:#2c3e50;">
					<h3>
						Enable / Disable 2FA
					</h3>
				</div>
				<div class="panel-body" style="background-color: #f5f6fa;">
					<div>
						<p>
							Use this to enable or disable 2 factor authentication using Google Authenticator 
						</p>
					</div>
					<br>
					<button class="btn" ng-click="dashCtrl.goTo('/twoFactorSetup')" style ="background-color: #FFC312; color:#2c3e50; font-size: 1.2em; outline:none; border: none;">
							Settings
					</button>
				</div>
			</div>
		</div>

		<div class = "col-sm-3" style="margin-top: 50px;" ng-show="dashCtrl.currentUserRole == 'admin'">
			<div class="panel" style="border:0px;">
				<div class="panel-heading" style="background-color: #FFC312; color:#2c3e50;">
					<h3>

						Add/Remove Approved Users 

					</h3>
				</div>
				<div class="panel-body" style="background-color: #f5f6fa;">
					<div>
						<p>

							Use this to add more users to approved users list 
						</p>
					</div>
					<br>
					<button class="btn" ng-click="dashCtrl.goTo('/addApprovedUsers')" style ="background-color: #FFC312; color:#2c3e50; font-size: 1.2em; outline:none; border: none;">
							Add Users
					</button>
				</div>
			</div>
		</div>
    	
	</div>
	
	<div class = "col-sm-3" style="margin-top: 50px;" ng-show="dashCtrl.currentUserRole == 'admin'">
		<div class="panel" style="border:0px;">
			<div class="panel-heading" style="background-color: #FFC312; color:#2c3e50;">
				<h3>
					Create Company
				</h3>
			</div>
			<div class="panel-body" style="background-color: #f5f6fa;">
				<div>
					<p>
						Use this to create a new company 
					</p>
				</div>
				<br>
				<button class="btn" ng-click="dashCtrl.goTo('/companyCreation')" style ="background-color: #FFC312; color:#2c3e50; font-size: 1.2em; outline:none; border: none;">
						Create
				</button>
			</div>
		</div>
	</div>

</div>
