<div class="container-fluid" style="">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="background-color:#555; height:300px; margin-top:10%">
      <div class="row">
        <div class="col-sm-2">
          <img src="./../resources/successCheck.ico" style="width:200%; height:200%; margin-top:55px;margin-left:10px;"> </img>
        </div>

        <div class="col-sm-8 col-sm-offset-2" style="padding-top:10px;">
          <p style="font-size:400%;color:#eee;text-align:right; padding-right: 30px;">
            <b>Registration Successfull !</b>
          </p>
          <p style="color:#eee;font-size:250%; text-align:right;padding-right:30px;">Welcome to the community<p>
        </div>
      </div>
    </div>
  </div>
</div>
