<div class="container-fluid" ng-controller="viewAsset as view" style="background-color:#2c3e50; font-family: 'Roboto Slab', serif; padding-bottom:400px;" >
	
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

			<!-- management sheet -->
			<div class="row" style=" background-color: #f5f6fa; margin-top: 50px">
				<div class="col-sm-12 ">
					<h1>List of Assets</h1>
					<!-- All users display panel  -->
					<div class="panel" style="margin-top: 50px; border:0px;">
						<!-- panel head -->
						<div class="panel-heading" style="background-color: #2C3A47; color:#f5f6fa;">
							<h3>All Assets</h3>
						</div>
						<!-- panel body -->
						<div class="panel-body" style="overflow: auto; padding: 0px;">
							<table class="table" style=" background-color:#535c68; color:#f5f6fa; margin-bottom: 0px;" ng-show = "view.loadme" ng-cloak>
								 <thead style="background-color: #2C3A47; color:#f5f6fa; font-size: 1.2em;">
									<tr>
										<th>Asset ID</th>
										<th>Brand Name</th>
										<th>Company ID</th>
										<th>Country Code</th>
										<th>Model</th>
										<th>Product Dimensions</th>
										<th>Product Name</th>
										<th>Product Reference</th>
										<th>UPC_A</th>
										<th>Weight</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="asset in view.AssetsArray">
										<td>{{asset.seqNo}}</td>
										<td>{{asset.assetdata.brand}}</td>
										<td>{{asset.assetdata.company_ref}}</td>
										<td>{{asset.assetdata.country_code}}</td>
										<td>{{asset.assetdata.model}}</td>
										<td>{{asset.assetdata.product_dim}}</td>
										<td>{{asset.assetdata.product_name}}</td>
										<td>{{asset.assetdata.product_ref}}</td>
										<td>{{asset.assetdata.upc_a}}</td>
										<td>{{asset.assetdata.weight}}</td>
										<td>
											<button class="btn btn-primary" style="font-size: 1em; " ng-click="view.gototransferAsset(asset)">Transfer</button>
										</td>
										<td>
											<button class="btn btn-primary" style="font-size: 1em; " ng-click="view.showHist(asset)">History</button>
										</td>
									</tr>
									
								</tbody> 
							</table>
						</div>
					</div>
					<!-- all users display panel end -->
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="txnHist" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Owner History</h3>
        </div>
        <div class="modal-body" >
        	<div class="row">
        		<div class = "col-sm-5">
			    	<table style="float:right;">
			    		<div>
				          <tr ng-repeat= "owner in view.AssetHist" ng-show="view.noErrorTxnHist" style="text-align: right;">
				          	<td style="padding:10px; padding-right: 0px" ng-show="(owner.id == 0)">
				          		<div style="height:2.0em; width: 10.0em;"><b><i>Current Owner</i></b></div>
				          	</td>
				          	<td style="padding:10px; padding-right: 0px" ng-show="(owner.id > 0 && owner.id < (view.AssetHist.length - 1))">
				          		<div style="height:2.0em; width: 5.0em; "></div>
				          	</td>
				          	<td style="padding:10px;padding-right: 0px;" ng-show="(owner.id == (view.AssetHist.length - 1))">
				          		
				          		<div style="height:2.0em; width: 10.0em;"><b><i>Asset Creator</i></b></div>
				          	</td>
				          	
				          </tr>
			  	  	</table>
			  	 </div>
        		<div class = "col-sm-6">
			    	<table>
			    		<div>
			    		  
				          <tr ng-repeat= "owner in view.AssetHist" ng-show="view.noErrorTxnHist">
				          	<td style="padding:10px;" ng-show="(owner.id == 0)">
				          		<div style="height:2.0em; width: 2.0em; border: 5px solid #2ecc71; border-radius: 20px;"></div>
				          	</td>
				          	<td style="padding:10px;" ng-show="(owner.id > 0 && owner.id < (view.AssetHist.length - 1))">
				          		<div style="height:2.0em; width: 2.0em; border: 5px solid #FFC312; border-radius: 20px;"></div>
				          	</td>
				          	<td style="padding:10px;" ng-show="(owner.id == (view.AssetHist.length - 1))">
				          		<div style="height:2.0em; width: 2.0em; border: 5px solid #2980b9; border-radius: 20px;"></div>
				          	</td>
				          	<td>{{owner.fullname}}</td>
				          </tr>
			  	  	</table>
			  	 </div>
      	  	</div>
          <div ng-show="!view.noErrorTxnHist">
          		<p>Some error Occured While Fetching Transactions
          		</p>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">No</button> -->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>  
      
    </div>
  </div>
  <!-- End of Modal -->
</div>